@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/167621/normalize.css';
* {
    font-family: 'Lato', sans-serif;
	font-weight: 300
  box-sizing:border-box;
}

nav{
  text-decoration:none;
  display:block;
  text-align:center;
  border:2px solid black;
  border-radius:15px;
  height:40px;
  width:100% ;
}

nav,a {
  text-decoration:none;
  text-align: center;
  color:white;
}

#bio_logo{
	text-align:center;
}

#logo{
	padding:5px;
	text-decoration: center;
}
.main-footer {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navi{
	display:inline;
}

body{
	float:left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width:100%;
  background: url(../img/background.jpg) fixed;
  -webkit-background-size: cover;
background-attachment: fixed;
background-position:center;
}

img{
	max-width:100%;
}

header{
	text-align: center;
}

h3,h2{
	  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  text-align:center;
}

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

#wrapper{
	max-width:940px;
	margin:0 auto;
	padding: 0 5%;
  font-size:20px;
  font-weight:bolder;
  
}

#gallery {
  text-align:center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}